.flex-container {
    display: flex;
    background-color: #eee;
    flex-direction: column;   
    margin: 16px; 
}


.flex-element {
    background-color: #eee;   
    margin-bottom: 16px;
    height: 48px;  
    text-align: center;     
}

.flex-element:first-child {
    background-color: tomato;   
}

.flex-element:nth-child(2) {
    display: flex;
    flex-direction: row; 
} 

.flex-element:last-child {       
    display: flex;
    flex-direction: row; 
    margin-bottom: 0;  
}


.flex-element-ch {
    width: 100%;
    background-color: tomato;   
    margin-right: 16px;
}

.flex-element-ch:last-child {     
    margin-right: 0;
}


