* {
    padding: 0;
    margin: 0;
}

.layout {
    display: flex;
    flex: 1;
    height: 100vh;
}

.nav-menu {
    height: 52px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.nav-menu a .menu-item {
    padding: 12px;
}

.nav-menu a .menu-item {
    color: #fff;
}

.page-container {
    margin-top: 52px;
    width: 100%;
    height: 87%;
}
